<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--创建业务类Bean对象-->
    <bean id="service" class="com.study.aop.MyServices"/>
    <!--创建切面类Bean对象-->
    <bean id="aspects" class="com.study.aop.MyAspects"/>
    <!--利用AOP技术，完成织入过程-->
    <aop:config>
        <!--定义切入点，用于筛选业务类中的方法-->
        <aop:pointcut id="cut"
        expression="execution(* com.study.aop.MyServices.do*(..))"/>
        <!--定义切面-->
        <aop:aspect ref="aspects">
            <!--定义连接点,组合完成织入操作。
            置前通知，在切入点cut筛选的方法前，切入通知before
            <aop:before method="before" pointcut-ref="cut"/>
            <aop:after method="before" pointcut-ref="cut"/>
            -->
            <aop:around method="around2" pointcut-ref="cut"/>
        </aop:aspect>
    </aop:config>
</beans>